<div class=" rounded container p-3 my-3 border">
  <h1 class="titulo-principal" *ngIf="token == null">Control Torneo Deportivo</h1>
  <h1 class="titulo-principal" *ngIf="token != null || token != undefined">Torneos</h1>
  
  <div class="cards-list">

    <div class="card 3" routerLink="/home" routerLinkActivate="active" *ngIf="token == null">
      <div class="card_image">
        <img src="../../../assets/img/home.gif" />
      </div>
      <div class="card_title">
        <p>Inicio</p>
      </div>
    </div>
      
    <div class="card 1" routerLink="/register" routerLinkActivate="active" *ngIf="token == null">
      <div class="card_image"> <img src="../../../assets/img/login-register.jpg" /> </div>
      <div class="card_title title-white">
        <p>Registrarse</p> 
      </div>
    </div>
    
    <div class="card 2" routerLink="/login" routerLinkActivate="active" *ngIf="token == null">
      <div class="card_image">
        <img src="../../../assets/img/login-deporte.jpg" />
        </div>
      <div class="card_title title-white">
        <p>Iniciar sesión</p>     
      </div>
    </div>
    
  </div>
      
  <!--Torneo-->
       
  <button type="button" class="btn btn-success raise"  data-toggle="modal" data-target="#torneoModal" *ngIf="token != null || token != undefined">
    <i class="fas fa-trophy"></i> Crear Torneo
  </button>

  <!-- Modal New -->
  <div class="modal fade" id="torneoModal" tabindex="-1" role="dialog" aria-labelledby="torneoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="torneoModalLabel">Nuevo Torneo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form (ngSubmit)="onSubmit(saveTorneo)" #saveTorneo="ngForm">
            <div class="mb-3 text-color">
              <label for="exampleInputEmail1" class="form-label"><i class="fas fa-trophy"></i> Nombre Torneo</label>
              <input  [(ngModel)]="torneo.name" name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Torneo" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <input type="submit" class="btn btn-primary" value="Guardar Torneo" [disabled]="!saveTorneo.form.valid">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <app-torneo></app-torneo>

</div>