<div class=" rounded container p-3 my-3 border">
  <h1 class="titulo-principal" *ngIf="token == null">Control Torneo Deportivo</h1>
  <h1 class="titulo-principal" *ngIf="token != null || token != undefined">Torneos</h1>
  
  <div class="cards-list">

    <div class="card 3" routerLink="/home" routerLinkActivate="active" *ngIf="token == null">
      <div class="card_image">
        <img src="../../../assets/img/home.gif" />
      </div>
      <div class="card_title">
        <p>Inicio</p>
      </div>
    </div>
      
    <div class="card 1" routerLink="/register" routerLinkActivate="active" *ngIf="token == null">
      <div class="card_image"> <img src="../../../assets/img/login-register.jpg" /> </div>
      <div class="card_title title-white">
        <p>Registrarse</p> 
      </div>
    </div>
    
    <div class="card 2" routerLink="/login" routerLinkActivate="active" *ngIf="token == null">
      <div class="card_image">
        <img src="../../../assets/img/login-deporte.jpg" />
        </div>
      <div class="card_title title-white">
        <p>Iniciar sesión</p>     
      </div>
    </div>
    
  </div>
      
  <app-torneo></app-torneo>

</div>