div .rounded{
    margin-bottom: 0.5rem;
}
.card{
    padding-top: 1rem;
    width: 70%;
    margin-left: 15%;
    background-color: #2C5364;
}
.card h5{
    font-family: 'Merienda One', cursive;
    font-size: 2vw;
    color: rgb(252, 252, 252); 
    background-color: rgb(68, 108, 192);
    padding: 1rem;
    margin-bottom: 0;
}

.card i{
    transform: translate(0, -40%);
    font-size: 10vh;
    color: rgb(141, 136, 136);
    box-shadow: 5px 10px #888888;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
.card a{
    margin-top: 2rem;
    
}

.card-body{
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
}
h5{
   font-family: 'Merienda One', cursive;
}
.modal-footer{
    padding: 0;
    padding-top: 1rem;
}