h2{
    text-align: center;
}

.img{
    background-color: black;
    border: 5px solid rgb(0, 0, 0);
    height: 20vh;
    width: 15%;
  
}
button{
    margin-bottom: 1rem;
}
.ocultar{

    padding: 1rem;
}
