@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

img{
    max-width: 100%;
}

.titulo-principal{
    text-align: center;
    color: rgb(34, 34, 34);
    font-size: 4vw;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa;
}

img.alineadoTextoImagenArriba{
    vertical-align: text-top;  
}
img.alineadoTextoImagenCentro{
    vertical-align: middle;
}
img.alineadoTextoImagenAbajo{
    vertical-align: text-bottom;  
}
.container{
    padding: 1rem;
    background-color: rgb(234, 237, 231);
    box-shadow: 5px 10px #888888;
}
.row{
    text-align: center;
    margin: 1rem;
}
.row a {
   color: #fff;
   font-size: 1rem;
   background-color: #2C5364;

}
.card:hover{
    transform: scale(1.05);
    box-shadow: 4px 8px #888888;
}
.navbar .hover-navbar:hover, .dropdown:hover .dropbtn {
    background-color: rgb(140, 140, 140);
    border-radius: 1rem;
  }

  /* register login */
.login-container{
    background-color: khaki;
    padding: 0;
    margin: 0;
}


#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: auto;
	max-width: 1000px;
	
}

.product-details {
	position: relative;
	overflow: hidden;
	padding: 3rem 1rem;
}

.product-image {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 28rem;
    margin-bottom: 0;
	width: 50%;
    float: left;
	
}

#container img {width: 100%;height: 100%;}



.text-color ,h3{
    color: rgb(53, 153, 160);
}

.text-center{
    align-items: center;
    text-align: center;
}

h2{
    margin-top: 1rem;
    font-size: 1rem;
}

@media (max-width: 900px) {
    .product-image {
        height: 0px;
        width: 0px;
    }
}

